.vo-html-sitemap {
    .vo-html-sitemap__grid {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-wrap: wrap;
    }

    .vo-html-sitemap__grid-item {
        display: contents;

        a {
            margin: 0 1rem 1rem 0;
        }
    }

    .vo-html-sitemap__list {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;

        .vo-html-sitemap__list-item {
            display: contents;

            a {
                padding: .5rem 0;
            }
        }
    }
}
