.vo-html-sitemap {

  a {
    text-decoration: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e2e2e2;
    margin: 1em 0;
    padding: 0;
  }

  ol {
    list-style: none;
    padding: 0;

    li::before {
      display: none !important;
    }
  }

  .vo-html-sitemap__grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.25rem;

    &.vo-html-sitemap__grid--2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .vo-html-sitemap__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0 1.1rem;
    border-bottom: 1px solid #e2e2e2;
  }

  .vo-html-sitemap__list {
    list-style: none;
    padding: 0;
  }

  .vo-html-sitemap__row {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 1.25rem;
    align-items: center;
    column-gap: 2rem;
    justify-content: center;
  }

  .vo-html-sitemap__row-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0 1.1rem;
    border-bottom: 1px solid #e2e2e2;
  }
}
